    <footer>
        <div class="footer navbar-inverse navbar-bottom" style="color:white;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3><i class="fa fa-compress" aria-hidden="true"></i>Contact</h3>
                        <ul>
                            <li> <a href="#"> Lorem Ipsum</a> </li>
                            <li> <a href="#"> Lorem Ipsum</a> </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3><i class="fa fa-anchor" aria-hidden="true"></i>Links</h3>
                        <ul>
                            <li> <a href="#"> Lorem Ipsum</a> </li>
                            <li> <a href="#"> Lorem Ipsum</a> </li>
                            <li> <a href="#"> Lorem Ipsum</a> </li>
                            <li> <a href="#"> Lorem Ipsum</a> </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3><i class="fa fa-map-marker" aria-hidden="true"></i>Location</h3>
                        <ul>
                            <li> <a href="#"> Lorem Ipsum</a> </li>
                            <li> <a href="#"> Lorem Ipsum</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left">Copyright © 2017, Cetin Yazilim.</p>
                <div class="pull-right">
                    <p>Yemek Sitesi - Bizim Restaurant</p>
                </div>
            </div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>